.container {
  margin: 0 30px;
}

.h2 {
  margin: 100px 0 50px;
  text-align: center;
  font-size: 50px;
}

.contactSection {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p {
  width: 40%;
}

.footer {
  text-align: center;
}

.imgAccount {
  height: 50px;
  width: auto;
  margin: 50px 10px;
}

@media (max-width: 900px) {
  .contactSection {
    flex-direction: column;
    justify-content: center;
  }
  .p {
    width: 90%;
    text-align: center;
  }
  .pStatus {
    font-size: 12px;
  }
}
