.container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  background: linear-gradient(black, transparent 90%);
}

.navList {
  list-style: none;

  display: flex;
  justify-content: space-around;

  padding-top: 60px;
}

.navItems {
  cursor: pointer;
  padding: 10px;

  text-transform: uppercase;
  animation: onloadAnim 1s ease-out;
}

@keyframes onloadAnim {
  0% {
    transform: translatey(-150px);
  }
  100% {
    transform: translatey(0);
  }
}

.navItems::after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: white;

  transition: all 0.2s ease-out;
}

.navItems:hover::after {
  width: 100%;
}

@media (max-width: 430px) {
  .navItems {
    font-size: 12px;
    white-space: nowrap;
    padding: 0;
  }
}
